<!DOCTYPE html>
<html>
<head>
  <title>Galeri</title>
  <link rel="stylesheet" type="text/css" href="style3.css">
  <style>
    .album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

    .album img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  }

  </style>
</head>
<body>
    <div class="album">
    
       
        <img src="assets/galeri/g5.webp">
        <img src="assets/galeri/g6.webp">
      <img src="assets/galeri/g7.jpeg">
      <img src="assets/galeri/g8.jpg">
      <img src="assets/galeri/g9.jpg">
      <img src="assets/galeri/g17.png">
      <img src="assets/galeri/g19.png">
      <img src="assets/galeri/esporprof.jpeg">
      <img src="assets/galeri/g10.webp">
      <img src="assets/galeri/18.png">
      <img src="assets/galeri/g11.png">
      <img src="assets/galeri/g12.png">
      <img src="assets/galeri/g13.png">
      <img src="assets/galeri/g14.png">
      <img src="assets/galeri/g2.jpg">
      <img src="assets/galeri/g3.jpg">
      <img src="assets/galeri/g4.jpg">
      <img src="assets/galeri/g15.png">

      
  </div>
</body>
</html>
