<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kimimben</title>

    <!--css dosyaları ekledik-->
    <link rel="stylesheet" href="style3.css">

    

</head>
<body>
      
    <div class="container">
        <div class="side">

            <div class="hakkimda">

                <br>
                <h1>  KİMİM BEN??  </h1>
                <hr color="black"/>
                <br>

                <p>
                Merhaba ben Berkay. 19 Yaşındayım. Ankara Çankaya doğumluyum. Şu an da Gazi Üniversitesi Bilişim Güvenliği 
                Teknolojisi 2. Sınıf öğrencisiyim. Bu Siteyi hem İnternet Programcılığı dersi için hem de cv'ye koyabilmek 
                için yapıyorum. Gazi Ünv. E-spor takımı ve LA Valiant E-spor takımının koçluğunu yapıyorum. Gazi Üniversitesi Voleybol 
                takımında oyuncuyum. Aşağıdaki QR Code okutarak benimle iletişime geçebilirsiniz.
                
                </p>
                <br>
                <p>Alper ALTUNÇEKİÇ Hocama sevgilerimle...</p>

                
                <br>
                <p>Bildiğim Yazılım Dilleri/ Uygulamalar </p>
                <hr>
                <br>
                <p>> C#   > Java    > Pyhton   > HTML</p>
                <p>> CSS  > Blender > Unity    > Photoshop</p>


                
                <br>
                <p>İş Deneyimleri</p>
                <hr>
                <br>
                <p>-> SinerjiSoft A.Ş. 3D Dev./ Game Dev.</p>
                <p>-> Sukuturcum.com Yöneticilik</p>
                <p>-> Trendyol üzerinden Alım-Satım İşlemleri</p> 


                
                <br>
                <p>Eğitim Bilgileri</p>
                <hr>
                <br>
                <p>-> İlkokul - Timur İlkokulu 2009-2013</p>
                <p>-> Ortaokul - Timur Ortaokulu 2013-2017</p>
                <p>-> Lise - Hoşdere Sınav A.L. 2017-2021</p>
                <p>-> Üniversite - Gazi Üniversitesi 2021-2023</p>

                <br>
                
                <p>Hobilerim</p>
                <hr>
                <br>
                <p>-> Voleybol oynamak</p>
                <p>-> Yüzme</p>
                <p>-> Online Oyunu Oynamak</p>
                <p>-> Kod Yazmak</p>
                <p>-> Kara Kalem Resim Çizmek</p>
                <br>

                <hr>
                <br>
                <p>Berkay Akyol</p>
                <p>21380102029</p>
                <p>TUSAŞ-Kazan MYO </p>
                <p>Bilişim Güvenliği Teknolojisi 2.Sınıf</p>
                

                

            </div>

            
           
        </div>
    </div>
</body>
</html>